<br />

<div class="intro">
  <span class="intro-item">Myo Sotis 繆・索緹絲</span>
  <span class="spacer"></span>
  <span class="intro-item" [matTooltip]="subsCount">{{ subsCountK }} 訂閱</span>
  <span
    class="intro-item"
    [matTooltip]="streamsNonDuplicateCount.toString() + ' 非重複'"
    >{{ streamsCount }} 曲目</span
  >
  <span class="intro-item">{{ coversCount }} 翻唱</span>
</div>

<br />

<div class="links">
  <img width="65px" src="assets/niconico.png" />
  <a href="https://www.youtube.com/@sotisleepy" target="_blank">
    <fa-icon
      [icon]="['fab', 'youtube']"
      size="3x"
      class="icon"
      [animation]="animatedIcon === 'youtube' ? 'beat' : undefined"
      (mouseenter)="onMouseEnter('youtube')"
      (mouseleave)="onMouseLeave()"
    ></fa-icon>
  </a>

  <a href="https://twitter.com/sotisleepy" target="_blank">
    <fa-icon
      [icon]="['fab', 'twitter']"
      size="3x"
      class="icon"
      [animation]="animatedIcon === 'twitter' ? 'bounce' : undefined"
      (mouseenter)="onMouseEnter('twitter')"
      (mouseleave)="onMouseLeave()"
    ></fa-icon>
  </a>

  <a href="https://www.instagram.com/sotisleepy" target="_blank">
    <fa-icon
      [icon]="['fab', 'instagram']"
      size="3x"
      class="icon"
      [animation]="animatedIcon === 'instagram' ? 'shake' : undefined"
      (mouseenter)="onMouseEnter('instagram')"
      (mouseleave)="onMouseLeave()"
    ></fa-icon>
  </a>

  <a
    href="https://www.facebook.com/profile.php?id=100083727110341"
    target="_blank"
  >
    <fa-icon
      [icon]="['fab', 'facebook']"
      size="3x"
      class="icon"
      [animation]="animatedIcon === 'facebook' ? 'spin' : undefined"
      (mouseenter)="onMouseEnter('facebook')"
      (mouseleave)="onMouseLeave()"
    ></fa-icon>
  </a>

  <a href="https://www.fanbox.cc/@sotisleepy" target="_blank">
    <img src="https://www.fanbox.cc/favicon.ico" alt="Fanbox" />
  </a>

  <!-- Other Links: -->
  <!-- marshmallow-qa.com/NKsotis -->
  <!-- discord.gg/jGBPDrXqzJ -->
  <!-- nkshoujo.cyberstream.ch/sotis -->
</div>

<div class="description">
  <p>
    性別：女，年齡：14，身高：148，體重：38，生日：10/16<br>
    職業：轉世勇者，喜好：宅文化、喝牛奶，不擅長：社交、現充
  </p>
  <p>
    隸屬於某一個王國的，代代輪迴轉世的勇者。
    每一代死後，都會被王族流傳的魔法預言書所召喚回世，繼續守護國家的安危。
    天生就擁有過人的身體素質與戰鬥天賦，並且可在學習後精通所有類型的冷兵器。
    同時擁有一把由王國所打造，唯有歷代勇者們才能使用的巨大寶劍。
    身為最新一次轉世而來的勇者，自幼就受到周遭人們強烈的期待。
    而過度的關照導致她性格漸漸封閉，轉而對勇者應盡的職責提不起幹勁。
    不喜歡接受訓練也不想上戰場的她，最終成為了一名廢人般的家裡蹲。
    性格內向、怕生，沒有幹勁，與不熟悉的人說話時會有點溝通障礙。
  </p>
  <p>
    Furigana: <ruby>〇〇〇〇〇<rt>あいしてる</rt></ruby>
  </p>
</div>
