.icon {
  color: blue;
}

p {
  font-size: 18px;
  color: white;
}

.intro {
  font-size: 22px;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.intro-item {
  padding: 0 6px;
  color: white;
}

.intro span:nth-child(n+4) {
  border-left: 2px solid white;
  color: white;
}

