<div class="header">
  <mat-toolbar color="primary">
    <img src="assets/sotis_logo.png" height="35px" />
    <span class="spacer"></span>
    <!-- TODO: may replace with a tag -->
    <button mat-icon-button (click)="openInfo()">
      <fa-icon [icon]="['fas', 'circle-info']"></fa-icon>
    </button>
    <a
      href="https://www.youtube.com/@sotisleepy?sub_confirmation=1"
      target="_blank"
      class="white-icon"
    >
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </button>
    </a>
    <button
      mat-icon-button
      cdkCopyToClipboard="https://sing.sotisleepy.me/"
      (mouseenter)="$event.stopImmediatePropagation()"
      (mouseleave)="$event.stopImmediatePropagation()"
      (click)="copyLink()"
      matTooltip="連結已複製！"
      #sharetooltip="matTooltip"
    >
      <fa-icon [icon]="['fas', 'share-nodes']"></fa-icon>
    </button>

    <a
      href="https://forms.gle/aqKUtuKuENx4xFvp6"
      target="_blank"
      class="white-icon"
    >
      <button mat-icon-button>
        <fa-icon [icon]="['fas', 'bug']"></fa-icon>
      </button>
    </a>
  </mat-toolbar>
</div>

<div class="flex-container">
  <div class="flex-left">
    <!-- 854 x 480 or 640 x 360 -->
    <!-- short 315 x 560, 1.2x 378 x 672 -->

    <!-- Desktop -->
    <div *appMedia="'(min-width: 768px)'" class="desktop">
      <iframe
        id="player"
        [src]="'https://www.youtube-nocookie.com/embed/' + latestUrl + '?enablejsapi=1&cc_load_policy=1' | safe: 'resourceUrl'"
        title="Youtube Player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <!-- Mobile -->
    <div *appMedia="'(max-width: 767px)'" class="mobile">
      <iframe
        id="player"
        [src]="'https://www.youtube.com/embed/' + latestUrl + '?enablejsapi=1&cc_load_policy=1' | safe: 'resourceUrl'"
        width="100%"
        height="225"
        title="Youtube Player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div *appMedia="'(max-width: 767px)'" class="placeholder"></div>

    <app-intro></app-intro>
  </div>

  <div class="flex-right">
    <div [hidden]="!allDataLoaded">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="false">
        <mat-tab label="直播歌單">
          <app-song-list
            [songType]="'publics'"
            (dataLoadedEvent)="onDataLoaded($event)"
            (songSelected)="getSongSelected($event)"
            #streams
          ></app-song-list>
        </mat-tab>
        <mat-tab label="翻唱歌單">
          <app-song-list
            [songType]="'covers'"
            (dataLoadedEvent)="onDataLoaded($event)"
            (songSelected)="getSongSelected($event)"
            #covers
          ></app-song-list>
        </mat-tab>
        <mat-tab label="會限歌單">
          <app-song-list
            [songType]="'members'"
            (dataLoadedEvent)="onDataLoaded($event)"
            (songSelected)="getSongSelected($event)"
            #members
          ></app-song-list>
        </mat-tab>
        <mat-tab label="非公開歌單">
          <app-song-list
            [songType]="'unlisteds'"
            (dataLoadedEvent)="onDataLoaded($event)"
            (songSelected)="getSongSelected($event)"
            #unlisteds
          ></app-song-list>
        </mat-tab>
        <mat-tab label="歌詞" [disabled]="songId <= 1" class="lyrics-container">
          <pre class="lyrics">{{lyrics}}</pre>
          @if (originalURL.includes('youtube')) {
            <a [href]="originalURL" target="_blank" class="original-link">
              <fa-icon [icon]="['fab', 'youtube']" size="3x" class="yticon" ></fa-icon>
            </a>
          } @else if (originalURL.includes('nicovideo')) {
            <a [href]="originalURL" target="_blank" class="original-link">
              <img width="65px" src="assets/niconico.png" />
            </a>
          }
        </mat-tab>
        <mat-tab label="數據">
          <app-statistics></app-statistics>
        </mat-tab>
        <mat-tab label="敬請期待！" disabled="True">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<footer class="footer">
  <p class="copyright">
    &copy; 2024 <a href="https://twitter.com/HuaTsai2">HuaTsai</a>. All rights
    reserved.
  </p>
  <p class="acknowledgement">
    Special thanks to
    <a href="https://twitter.com/yukiyuki_amano">天野ゆきゆき</a> for inspiring
    the website, and to <a href="https://twitter.com/DXEE0622">DXEE</a> for the
    data collection.
  </p>
</footer>
