.spacer {
  flex: 1 1 auto;
}

.flex-container {
  display: flex;
  padding: 8px 8px;
  flex-wrap: wrap;
}

.flex-left {
  flex: 1;
}

.flex-right {
  flex: 1;
  flex-grow: 2;
  padding-left: 8px;
}

@media only screen and (max-width: 767px) {
  .flex-left {
    width: 100%;
  }

  .flex-right {
    width: 100%;
  }
}

