.spacer {
  flex: 1 1 auto;
}

.flex-container {
  display: flex;
  padding: 15px 15px;
  flex-wrap: wrap;
}

.flex-left {
  flex: 1;
  margin-right: 20px;
  width: 640px;
}

.flex-right {
  flex: 1;
  flex-grow: 2;
}

@media only screen and (max-width: 640px) {
  .flex-left {
    width: 100%;
  }

  .flex-right {
    width: 100%;
  }
}

