<mat-toolbar color="primary">
  <span>Myo Sotis</span>
  <span class="spacer"></span>
  <button mat-icon-button ><mat-icon>favorite</mat-icon></button>
  <button mat-icon-button ><mat-icon>share</mat-icon></button>
</mat-toolbar>

<div class="flex-container">
  <div class="flex-left">
    <!-- 854 x 480 or 640 x 360 -->
    <iframe
      width="640"
      height="360"
      [src]="videoId | safe: 'resourceUrl'"
      title="Youtube Player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <br />
    <!-- short 315 x 560, 1.2x 378 x 672 -->
    <!-- <iframe -->
    <!--   width="378" -->
    <!--   height="672" -->
    <!--   [src]="videoShort | safe: 'resourceUrl'" -->
    <!--   frameborder="0" -->
    <!--   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" -->
    <!--   allowfullscreen -->
    <!-- ></iframe> -->
    <app-intro></app-intro>
  </div>
  <div class="flex-right">
    <mat-tab-group>
      <mat-tab label="Song List">
        <app-song-list (songSelected)="getSongSelected($event)"></app-song-list>
      </mat-tab>
      <mat-tab label="Cover List">
        <app-song-list (songSelected)="getSongSelected($event)"></app-song-list>
      </mat-tab>
      <mat-tab label="Suggestion List">
        <p>Sotis Suggestions</p>
      </mat-tab>
      <mat-tab label="Soraru List">
        <p>Secret: seldom appears</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
