table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 40%;
}

td, th {
  width: 20%;
}

tr:not(.thead):nth-child(odd) {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #8ca5bd;
}

tr:not(.thead):hover {
  background-color: yellow;
  cursor: pointer;
}

img {
  width: 10%;
}

