table {
  width: 100%;
  background-color: rgba(white, 0.3);
}

.mat-mdc-form-field {
  font-size: 18px;
  width: 40%;
}

.icon_name {
  display: flex;
  align-items: center;
}

img {
  height: 18px;
  width: 18px;
  margin-right: 15px;
}

td, th {
  font-size: 18px;
}

tr:not(.thead):nth-child(odd) {
  background-color: rgba(lightblue, 0.3);
}

tr:nth-child(even) {
  background-color: rgba(lightcyan, 0.3);
}

tr:not(.thead):hover {
  background-color: yellow;
  cursor: pointer;
}

.mat-column-artist {
  width: 30%;
  white-space: nowrap;
}

.mat-column-date {
  width: 10%;
  white-space: nowrap;
}

.mat-column-duration {
  width: 5%;
  white-space: nowrap;
}

.mat-no-data {
  font-size: 18px;
  padding: 18px;
}

mat-chip {
  height: 18px;
  margin: 0 2px;
  --mdc-chip-label-text-size: 10px;
}

mat-paginator {
  background-color: rgba(white, 0.7);
}

