<br />
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  @if (input.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; dataSource.filter=''">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="striped-table">

    <!-- XXX: a lot of song_id for GA4 -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        曲目
        @if (songType === 'members') {
          <span>&nbsp;</span>
          <fa-icon [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
        }
      </th>
      <td mat-cell *matCellDef="let row" [id]="row.song_id">
        <div class="icon_name" [id]="row.song_id">
          <img src="assets/icon.jpg" [id]="row.song_id"/>
          <span [id]="row.song_id">{{row.name}}&nbsp;</span>
          @if (row.tags.length) {
            @if (row.tags.includes('連動')) {
              <fa-icon [icon]="['fas', 'user-group']"></fa-icon>
              <span [id]="row.song_id">&nbsp;</span>
            }
            @if (row.tags.includes('外部')) {
              <fa-icon [icon]="['fas', 'arrow-trend-up']"></fa-icon>
              <span [id]="row.song_id">&nbsp;</span>
            }
            @if (row.tags.includes('吉他')) {
              <fa-icon [icon]="['fas', 'guitar']"></fa-icon>
              <span [id]="row.song_id">&nbsp;</span>
            }
            @for (tag of row.tags.split(','); track tag) {
              @if (tag !== '外部' && tag !== '連動' && tag !== '吉他') {
                <mat-chip [id]="row.song_id">{{tag}}</mat-chip>
                <span [id]="row.song_id">&nbsp;</span>
              }
            }
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>原唱/作者</th>
      <td mat-cell *matCellDef="let row">{{row.artist}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>日期</th>
      <td mat-cell *matCellDef="let row" [id]="row.song_id">{{row.date | date: 'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>時長</th>
      <td mat-cell *matCellDef="let row" [id]="row.song_id">{{row.duration | minutesSeconds}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="thead"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectSong(row)" [id]="row.song_id"></tr>

    <tr *matNoDataRow>
      <td class="mat-no-data" colspan="4">未找到關鍵字︰{{input.value}}</td>
    </tr>
  </table>

  <mat-paginator pageSize="12" showFirstLastButtons="true" aria-label="Select page of users"></mat-paginator>
</div>

