table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 18px;
  width: 40%;
}

.icon_name {
  display: flex;
  align-items: center;
}

img {
  height: 18px;
  width: 18px;
  margin-right: 15px;
}

td, th {
  font-size: 18px;
}

tr:not(.thead):nth-child(odd) {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #8ca5bd;
}

tr:not(.thead):hover {
  background-color: yellow;
  cursor: pointer;
}

